#infographics-container h1{
  color: #FFF;
  border-bottom: 3px solid #F0A;
}

.desc {
  color: #EEE;
}
#infographics-container h2{
  color: #EEE;
  border-left: 15px solid #C0A;
}

#svg-teams .member:nth-child(n+7){
  display: none;
}

#infographics-container {
  width: 100%;
  background-color: #d0c0c0;
}
#svg-teams text.name {
    fill: #444;
}
